pandas
numpy
matplotlib
yfinance
plotly
#streamlit==1.33.0
kaleido==0.2.1
pybase64
millify
lightweight_charts
asyncio
nest_asyncio
pytz
#streamlit-option-menu
#streamlit-extras
#streamlit_js_eval
#streamlit-authenticator
jproperties
futures
#st_social_media_links
tweepy
#streamlit_autorefresh
#schedule
